.form_group {
  margin-bottom: 10px;
}
.header {
  color: red;
  text-align: center;
}
.form_content {
  text-align: center;
  border: 5px solid gold;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.inputContent {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.btn:hover {
  background-color: #45a049;
}
.labeleContent {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  color:green;
}
