* {
  margin: 0;
  padding: 0;
}
.countNumber {
  text-align: center;
  width: 250px;
  height: 250px;
  background: gray;
  margin: 0 auto;
  margin-top: 15%;
}
.btnOne,
.btnTwo {
  width: 79px;
  padding: 11px;
  border: none;
  border-radius: 5px;
  background: green;
  color: white;
  font-weight: bold;

  margin-left: 20px;
  margin-top: 40px;
}
h1 {
  color: white;
  font-size: 49px;
}
